.header
    .header-title GetLucky
    .header-menu
        a.header-menu__link.active Оператор
        a.header-menu__link Модератор
        a.header-menu__link Статистика
        a.header-menu__link Аккаунты
        a.header-menu__link Подарки
        a.header-menu__link Изображения
        .header-exit
            a.header-exit__btn(href="")               
                span Выход       

           
        