extends ../template

block variables
    - var title = 'Модерация аккаунтов'
    - var link_id = 3

block content
    .main-container
            .search-form
                form(action="")
                    input(type="search", placeholder="Поиск")       
            table.requests(cellspacing=0)
                thead.requests-header
                    tr                       
                        td id
                        td дата / время
                        td наименование                        
                        td статус
                tbody.requests-content
                    tr                        
                        td 01123
                        td 16.01.2019 / 11:30
                        td.requests-content__link(data-fancybox data-src="#modal-acc") Юридическое наименование 1                          
                        td подтвержден / не подтвержден
                    tr                        
                        td 01124
                        td 15.01.2019 / 10:25
                        td.requests-content__link(data-fancybox data-src="#modal-acc") Юридическое наименование 2                        
                        td подтвержден / не подтвержден

    #modal-acc
        .modal-acc-container
            .modal-acc-box
                .modal-acc-box-images
                    img(src="assets/images/photo1.png")                    
                .modal-acc-box-radio
                    input(type="radio" id="yes1" name="block1")
                    label(for="yes1") Да
                    input(type="radio" id="no1" name="block1")
                    label(for="no1") Нет
                .modal-acc-box-images                    
                    img(src="assets/images/photo2.png")
                .modal-acc-box-radio
                    input(type="radio" id="yes2" name="block2")
                    label(for="yes2") Да
                    input(type="radio" id="no2" name="block2")
                    label(for="no2") Нет
            .modal-acc-box
                .modal-acc-box-text
                    p.modal-acc-box-text__subheader Юридическое наименование
                    p.modal-acc-box-text__header Юридическое наименование                    
                .modal-acc-box-radio
                    input(type="radio" id="yes3" name="block3")
                    label(for="yes3") Да
                    input(type="radio" id="no3" name="block3")
                    label(for="no3") Нет
            .modal-acc-box
                .modal-acc-box-text
                    p.modal-acc-box-text__subheader Фактическое наименование
                    p.modal-acc-box-text__header Фактическое наименование                    
                .modal-acc-box-radio
                    input(type="radio" id="yes4" name="block4")
                    label(for="yes4") Да
                    input(type="radio" id="no4" name="block4")
                    label(for="no4") Нет
            .modal-acc-box
                .modal-acc-box-text
                    p.modal-acc-box-text__subheader ОГРН
                    p.modal-acc-box-text__header 123456789123456                    
                .modal-acc-box-radio
                    input(type="radio" id="yes5" name="block5")
                    label(for="yes5") Да
                    input(type="radio" id="no5" name="block5")
                    label(for="no5") Нет
            .modal-acc-box
                .modal-acc-box-text
                    p.modal-acc-box-text__subheader ИНН
                    p.modal-acc-box-text__header 123456789123456                    
                .modal-acc-box-radio
                    input(type="radio" id="yes6" name="block6")
                    label(for="yes6") Да
                    input(type="radio" id="no6" name="block6")
                    label(for="no6") Нет
            .modal-acc-box
                .modal-acc-box-text
                    p.modal-acc-box-text__subheader Телефон
                    p.modal-acc-box-text__header 123456789123456                   
                .modal-acc-box-radio
                    input(type="radio" id="yes7" name="block7")
                    label(for="yes7") Да
                    input(type="radio" id="no7" name="block7")
                    label(for="no7") Нет
            .modal-acc-box
                .modal-acc-box-text
                    p.modal-acc-box-text__subheader Описание компании
                    p.modal-acc-box-text__header Таким образом рамки и место обучения кадров позволяет выполнять важные задания по разработке соответствующий условий активизации. Не следует, однако забывать, что новая модель организационной деятельности требуют от нас анализа систем массового участия.                   
                .modal-acc-box-radio
                    input(type="radio" id="yes8" name="block8")
                    label(for="yes8") Да
                    input(type="radio" id="no8" name="block8")
                    label(for="no8") Нет
                            
            .modal-acc-buttons                
                a.modal-acc-buttons__solve
                    span Да