extends ../template

block variables
    - var title = 'Администратор'
    - var admin = true;   

block content
    .main-container.active(data-page='1')        
        .page-title
            .left-tabs-headers
                a.left-tabs__link-header(data-page='1').active решенные
                a.left-tabs__link-header(data-page='1') нерешенные
                a.left-tabs__link-header(data-page='1') отложенные
            .right-controls
                .control-buttons
                    a.add-btn(href="")
                        img(src="assets/images/add-btn.svg")
                    a.refresh-btn(href="")
                        img(src="assets/images/refresh-btn.svg")
                .search-form
                    form(action="")
                        input(type="search", placeholder="Поиск")       
            
        .link-header-container(data-page='1').active
            table.requests(cellspacing=0)
                thead.requests-header
                    tr 
                        td #
                        td id
                        td принята
                        td обработана
                        td тема сообщения
                        td текст / звонок
                        td оператор
                tbody.requests-content
                    tr
                        td 100500
                        td 01123
                        td 16.01.2019 / 11:30
                        td 16.01.2019 / 11:43
                        td технический
                        td
                            a.requests-content__link(data-fancybox data-src="#modal-phone" data-options='{ "touch": false }') звонок
                        td
                    tr
                        td 100501
                        td 01124
                        td 15.01.2019 / 10:25
                        td 16.01.2019 / 10:50
                        td пожелания и предложения
                        td
                            a.requests-content__link(data-fancybox data-src="#modal-text" data-options='{ "touch": false }') текст
                        td

        .link-header-container(data-page='1')
            table.requests(cellspacing=0)
                thead.requests-header
                    tr 
                        td #
                        td id
                        td принята
                        td обработана
                        td тема сообщения
                        td текст / звонок
                        td оператор
                tbody.requests-content
                    tr
                        td 100502
                        td 01125
                        td 17.02.2019 / 13:43
                        td 17.02.2019 / 15:53
                        td технический
                        td
                            a.requests-content__link(data-fancybox data-src="#modal-phone" data-options='{ "touch": false }') звонок
                        td
                    tr
                        td 100503
                        td 01126
                        td 21.01.2019 / 09:25
                        td 21.01.2019 / 10:50
                        td пожелания и предложения
                        td
                            a.requests-content__link(data-fancybox data-src="#modal-text" data-options='{ "touch": false }') текст
                        td

        .link-header-container(data-page='1')
            table.requests(cellspacing=0)
                thead.requests-header
                    tr 
                        td #
                        td id
                        td принята
                        td обработана
                        td тема сообщения
                        td текст / звонок
                        td оператор
                tbody.requests-content
                    tr
                        td 100504
                        td 01127
                        td 05.02.2019 / 17:12
                        td 05.02.2019 / 17:17
                        td технический
                        td
                            a.requests-content__link(data-fancybox data-src="#modal-phone" data-options='{ "touch": false }') звонок
                        td
                    tr
                        td 100505
                        td 01128
                        td 06.02.2019 / 14:25
                        td 06.02.2019 / 15:05
                        td пожелания и предложения
                        td
                            a.requests-content__link(data-fancybox data-src="#modal-text" data-options='{ "touch": false }') текст
                        td

    .main-container(data-page='2')      
        .page-title
            .left-tabs-headers
                a.left-tabs__link-header(data-page='2').active бизнес-аккаунты
                a.left-tabs__link-header(data-page='2') подарки
            .right-controls
                .control-buttons
                    a.add-btn(href="")
                        img(src="assets/images/add-btn.svg")
                    a.refresh-btn(href="")
                        img(src="assets/images/refresh-btn.svg")
                .search-form
                    form(action="")
                        input(type="search", placeholder="Поиск") 
            .left-tabs.link-header-container(data-page='2').active
                a.left-tabs__link(data-page='2' data-header-link='1').active Прошли модерацию
                a.left-tabs__link(data-page='2' data-header-link='1') Не прошли модерацию
            .left-tabs.link-header-container(data-page='2')
                a.left-tabs__link(data-page='2' data-header-link='2').active Прошли модерацию
                a.left-tabs__link(data-page='2' data-header-link='2') Не прошли модерацию
                  
                   
        .link-container.active(data-page='2' data-header-link='1' data-link='1')
            table.requests(cellspacing=0)
                thead.requests-header
                    tr 
                        td #
                        td id
                        td название
                        td адрес
                        td телефон
                        td модератор                        
                tbody.requests-content
                    tr
                        td 100500
                        td 01123
                        td 
                        td 
                        td
                        td                        
                    tr
                        td 100501
                        td 01124
                        td 
                        td 
                        td
                        td  
        .link-container(data-page='2' data-header-link='1' data-link='2')
            table.requests(cellspacing=0)
                thead.requests-header
                    tr 
                        td #
                        td id
                        td название
                        td адрес
                        td телефон
                        td модератор
                        td причина отказа                       
                tbody.requests-content
                    tr
                        td 100500
                        td 01123
                        td 
                        td 
                        td
                        td
                        td                         
                    tr
                        td 100501
                        td 01124
                        td 
                        td 
                        td
                        td
                        td  

        .left-tabs.link-container(data-page='2' data-header-link='2' data-link='1')
            a.left-tabs__sublink(data-page='2' data-header-link='2' data-link='1' data-sublink='1').active Обычные
            a.left-tabs__sublink(data-page='2' data-header-link='2' data-link='1' data-sublink='2') Таргетированные
            a.left-tabs__sublink(data-page='2'  data-header-link='2' data-link='1' data-sublink='3') Супертаргетированные
            a.left-tabs__sublink(data-page='2'  data-header-link='2' data-link='1' data-sublink='4') Прикрепленные

        .left-tabs.link-container(data-page='2' data-header-link='2' data-link='2')
            a.left-tabs__sublink(data-page='2' data-header-link='2' data-link='2' data-sublink='1').active Обычные
            a.left-tabs__sublink(data-page='2' data-header-link='2' data-link='2' data-sublink='2') Таргетированные
            a.left-tabs__sublink(data-page='2'  data-header-link='2' data-link='2' data-sublink='3') Супертаргетированные
            a.left-tabs__sublink(data-page='2'  data-header-link='2' data-link='2' data-sublink='4') Прикрепленные

        .link-subcontainer(data-page='2' data-header-link='2' data-link='1' data-sublink='1')
            table.requests(cellspacing=0)
                thead.requests-header
                    tr 
                        td # id
                        td название
                        td компания
                        td модератор
                        td категория
                        td статус                       
                tbody.requests-content
                    tr
                        td 1111
                        td 
                        td 
                        td
                        td
                        td                         
                    tr
                        td 2222
                        td 
                        td 
                        td
                        td
                        td  

        .link-subcontainer(data-page='2' data-header-link='2' data-link='2' data-sublink='1')
            table.requests(cellspacing=0)
                thead.requests-header
                    tr 
                        td # id
                        td название
                        td компания
                        td модератор
                        td категория
                        td причина отказа                       
                tbody.requests-content
                    tr
                        td 3333
                        td 
                        td 
                        td
                        td
                        td                         
                    tr
                        td 4444
                        td 
                        td 
                        td
                        td
                        td


    .main-container(data-page='3')        
        .right-controls
            .control-buttons
                a.add-btn(href="")
                    img(src="assets/images/add-btn.svg")
                a.refresh-btn(href="")
                    img(src="assets/images/refresh-btn.svg")
            .search-form
                form(action="")
                    input(type="search", placeholder="Поиск")
        .requests
            table.requests(cellspacing=0)
                thead.requests-header
                    tr 
                        td id
                        td название
                        td адрес
                        td телефон
                        td дата регистрации
                        td последняя дата пользования
                tbody.requests-content
                    tr
                        td 
                            a.requests-content__link(data-fancybox data-src="#modal-graph" data-options='{ "touch": false }') 123456789
                        td 
                        td 
                        td 
                        td                            
                        td
                    tr
                        td 
                        td 
                        td 
                        td 
                        td                            
                        td

    .main-container(data-page='4')        
        .page-title
            .left-tabs-headers
                a.left-tabs__link-header(data-page='4').active бизнес-аккаунты
                a.left-tabs__link-header(data-page='4') пользователи 
            .right-controls
                .control-buttons
                    a.add-btn(href="")
                        img(src="assets/images/add-btn.svg")
                    a.refresh-btn(href="")
                        img(src="assets/images/refresh-btn.svg")
                .search-form
                    form(action="")
                        input(type="search", placeholder="Поиск")       
                   
        .link-header-container(data-page='4').active
            table.requests(cellspacing=0)
                thead.requests-header
                    tr 
                        td id организации
                        td id компании
                        td название организации
                        td статус                        
                tbody.requests-content
                    tr
                        td 
                            a.requests-content__link(data-fancybox data-src="#modal-business-acc" data-options='{ "touch": false }') 123456789
                        td 
                        td 
                        td                 
                    tr
                        td 
                        td 
                        td 
                        td 
                        

        .link-header-container(data-page='4')
            table.requests(cellspacing=0)
                thead.requests-header
                    tr 
                        td id
                        td логин
                        td параметр доступа
                        td дата регистрации
                        td последняя дата пользования                        
                tbody.requests-content
                    tr
                        td 
                            a.requests-content__link(data-fancybox data-src="#modal-account" data-options='{ "touch": false }') 123456789
                        td 
                        td 
                        td 
                        td                     
                    tr
                        td 
                        td 
                        td 
                        td 
                        td 

    .main-container(data-page='5')        
        .page-title
            .left-tabs-headers
                a.left-tabs__link-header(data-page='5').active подарки
                a.left-tabs__link-header(data-page='5') суперподарки
                a.left-tabs__link-header(data-page='5') цена  
            .right-controls
                .control-buttons
                    a.add-btn(data-fancybox data-src="#modal-supergift-admin" data-options='{ "touch": false }')
                        img(src="assets/images/add-btn.svg")
                    a.refresh-btn(href="")
                        img(src="assets/images/refresh-btn.svg")
                .search-form
                    form(action="")
                        input(type="search", placeholder="Поиск")       
                  
        .link-header-container(data-page='5').active
            table.requests(cellspacing=0)
                thead.requests-header
                    tr 
                        td id
                        td id компании
                        td название подарка
                        td дата создания
                        td тип подарка                     
                tbody.requests-content
                    tr
                        td 
                            a.requests-content__link(data-fancybox data-src="#modal-gift-admin" data-options='{ "touch": false }') 123456789
                        td 
                        td 
                        td
                        td                 
                    tr
                        td 
                        td 
                        td 
                        td 
                        td

        .link-header-container(data-page='5')
            table.requests(cellspacing=0)
                thead.requests-header
                    tr 
                        td id
                        td название
                        td дата создания
                        td дата окончания
                        td количество                        
                tbody.requests-content
                    tr
                        td 
                            a.requests-content__link(data-fancybox data-src="#modal-supergift-admin" data-options='{ "touch": false }') 123456789
                        td 
                        td 
                        td 
                        td                 
                    tr
                        td 
                        td 
                        td 
                        td
                        td  
                        

        .link-header-container(data-page='5')
            .gift-price-container
                .title-search
                    .country-label Россия                        
                    .search-form
                        form(action="")
                            input(type="search", placeholder="Выбор страны")
                .gift-form.modal-form.price-form
                    .left-form.scrollbar-rail
                        div.form-group__text
                            label(for="gift-price-common") Общий
                            input(type="text", id="gift-price-common", name="gift-price-common")
                        div.form-group__text
                            label(for="gift-price-targeted") Таргетированный
                            input(type="text", id="gift-price-targeted", name="gift-price-targeted")
                        div.form-group__text
                            label(for="gift-price-supertargeted") Супертаргетированный
                            input(type="text", id="gift-price-supertargeted", name="gift-price-supertargeted")
                        div.form-group__text
                            label(for="gift-price-smartphone") Закрепленный<br>за смартфоном
                            input(type="text", id="gift-price-smartphone", name="gift-price-smartphone")
                        div.form-group__text
                            label(for="gift-price-common") Общий
                            input(type="text", id="gift-price-common", name="gift-price-common")
                        div.form-group__text
                            label(for="gift-price-targeted") Таргетированный
                            input(type="text", id="gift-price-targeted", name="gift-price-targeted")
                        div.form-group__text
                            label(for="gift-price-supertargeted") Супертаргетированный
                            input(type="text", id="gift-price-supertargeted", name="gift-price-supertargeted")
                        div.form-group__text
                            label(for="gift-price-smartphone") Закрепленный<br>за смартфоном
                            input(type="text", id="gift-price-smartphone", name="gift-price-smartphone")
                        div.form-group__text
                            label(for="gift-price-common") Общий
                            input(type="text", id="gift-price-common", name="gift-price-common")
                        div.form-group__text
                            label(for="gift-price-targeted") Таргетированный
                            input(type="text", id="gift-price-targeted", name="gift-price-targeted")
                        div.form-group__text
                            label(for="gift-price-supertargeted") Супертаргетированный
                            input(type="text", id="gift-price-supertargeted", name="gift-price-supertargeted")
                        div.form-group__text
                            label(for="gift-price-smartphone") Закрепленный<br>за смартфоном
                            input(type="text", id="gift-price-smartphone", name="gift-price-smartphone")
                                                
                    .right-form
                        div.form-group__text
                            label(for="gift-price-common") Общий
                            input(type="text", id="gift-price-common", name="gift-price-common")
                        div.form-group__text
                            label(for="gift-price-targeted") Таргетированный
                            input(type="text", id="gift-price-targeted", name="gift-price-targeted")
                        div.form-group__text
                            label(for="gift-price-supertargeted") Супертаргетированный
                            input(type="text", id="gift-price-supertargeted", name="gift-price-supertargeted")
                        div.form-group__text
                            label(for="gift-price-smartphone") Закрепленный<br>за смартфоном
                            input(type="text", id="gift-price-smartphone", name="gift-price-smartphone")                        
                    
                    a.form-button.button__save
                        span Сохранить
                    a.form-button.button__accept
                        span Добавить
                    a.form-button.button__delete
                        span Удалить 


    .main-container(data-page='6')      
        .picture-container            
            .left-block
                .left-block-contant
                    .left-panel
                        .supergift-image
                            span Изображение категории
                            img(src="assets/images/category-img.png")
                            a Изменить изображение                        
                    .right-panel
                        div.title-input
                            span Название категории
                            input(type="text", id="gift-price-common", name="gift-price-common" value='АВТО')
                        div.picture-table
                            img.add-icon(src="assets/images/add-icon.svg")
                            img.delete-icon(src="assets/images/delete-icon.svg")
                            span Иконки
                            table.table-icons(cellspacing=0)
                                thead
                                    tr 
                                        td 800X800
                                        td 200x200                                                                
                                tbody
                                    tr
                                        td auto.png
                                        td auto.png                
                                    tr
                                        td carwash.png
                                        td carwash.png
                                    tr
                                        td repair.png
                                        td repair.png
                                    tr
                                        td wheel.png
                                        td wheel.png 
                                    tr
                                        td 
                                        td
                                    tr
                                        td 
                                        td
                                    tr
                                        td 
                                        td
                                    tr
                                        td 
                                        td
                                    tr
                                        td 
                                        td
                                    tr
                                        td 
                                        td
                            
                .left-block-buttons
                    a.form-button.button__delete
                        span Удалить
                    a.form-button.button__save
                        span Сохранить
                    
            .right-block
                a.category-name.active 
                    span авто
                a.category-name 
                    span еда
                a.category-name 
                    span красота и здоровье
                a.category-name 
                    span напитки
                a.category-name 
                    span одежда и обувь
                a.category-name 
                    span путешествие и отдых
                a.category-name 
                    span развлечения
                a.category-name 
                    span спорт
                a.category-name 
                    span техника
                a.category-name 
                    span услуги                        
                a.form-button.button__accept
                    span Добавить
            
            
             
                    
            
                






    #modal-graph.modal
        .modal-graph-container
            h1 Статистика граф

    #modal-business-acc.modal
        .modal-business-acc-container
            form.business-acc-form.modal-form
                .left-form
                    div.form-group__text
                        label(for="business-name") Название компании<br>(не более 20 символов)
                        input(type="text", id="business-name", name="business-name")
                    div.form-group__text
                        label(for="business-full-name") Полное наименование<br>компании (ООО, ИП...)
                        input(type="text", id="business-full-name", name="business-full-name")
                    div.form-group__text
                        label(for="business-inn") ИНН
                        input(type="text", id="business-inn", name="business-inn")
                    div.form-group__text
                        label(for="business-ogrn") ОГРН
                        input(type="text", id="business-ogrn", name="business-ogrn")
                    div.form-group__text
                        label(for="business-adress") Юридический адрес
                        input(type="text", id="business-adress", name="business-adress")
                                       

                .right-form
                    div.form-group__text
                        label(for="business-phone") Телефон
                        input(type="text", id="business-phone", name="business-phone")
                    div.form-group__text.textarea
                        label(for="business-token") Токен
                        textarea(id="business-token", name="business-token")
                    div.form-group__text
                        label(for="business-money") Деньги
                        input(type="text", id="business-money", name="business-money")
                    div.form-group__select
                        label(for="business-status") Статус                  
                        select(id="business-status")
                            i csdasdasd                            
                            option(value="" disabled selected)
                            option(value="in-progress") In progress
                            option(value="available") Available
                            option(value="error") Error
                        
                    
                a.form-button.button__delete
                    span Удалить аккаунт
                a.form-button.button__accept
                    span Сохранить изменения

    #modal-account.modal
        .modal-account-container
            form.account-form.modal-form
                .left-form
                    div.form-group__text
                        label(for="acc-id") ID
                        input(type="text", id="acc-id", name="acc-id")
                    div.form-group__text
                        label(for="acc-rating") Баллы
                        input(type="text", id="acc-rating", name="acc-rating")
                    div.form-group__text
                        label(for="acc-email") E-mail
                        input(type="text", id="acc-email", name="acc-email")
                    div.form-group__text.textarea
                        label(for="acc-token") Токен
                        textarea(id="acc-token", name="acc-token")                    
                                  

                .right-form
                    div.form-group__select
                        label(for="acc-rights") Право доступа                  
                        select(id="acc-rights")                                            
                            option(value="" disabled selected)
                            option(value="simple") Simple
                            option(value="org") Org
                            option(value="banned") Banned
                            option(value="operator") Operator
                            option(value="moderator") Moderator
                            option(value="adminisrator") Administrator
                    div.form-group__text
                        label(for="acc-device") Устройство
                        input(type="text", id="acc-device", name="acc-device")
                    div.form-group__select
                        label(for="acc-approved") Подтвержен                 
                        select(id="acc-approved")                                            
                            option(value="" disabled selected)
                            option(value="approved") Подтвержден
                            option(value="not-approved") Не подтвержден                        
                    div.form-group__text
                        label(for="acc-reg-date") Дата создания
                        input(type="text", id="acc-reg-date", placeholder="dd-mm-yyyy"  name="acc-reg-date")
                    div.form-group__text
                        label(for="acc-activity-time") Последняя активность
                        input(type="text", id="acc-activity-time", placeholder="hh:mm:ss", name="acc-activity-time")
                a.form-button.button__delete
                    span Удалить аккаунт 
                a.form-button.button__accept
                    span Сохранить изменения

    #modal-gift-admin.modal
        .modal-gift-admin-container
            form.gift-form.modal-form
                .left-form
                    div.form-group__text
                        label(for="gift-id") ID подарка
                        input(type="text", id="gift-id", name="gift-id")
                    div.form-group__text
                        label(for="gift-organization-id") ID организации
                        input(type="text", id="gift-organization-id", name="gift-organization-id")
                    div.form-group__text
                        label(for="gift-type") Тип подарка
                        input(type="text", id="gift-type", name="gift-type")
                    div.form-group__text
                        label(for="gift-name") Название
                        input(type="text", id="gift-name", name="gift-name")
                    div.form-group__text.textarea
                        label(for="gift-description") Описание
                        textarea(id="gift-description", name="gift-description")
                    div.form-group__text
                        label(for="gift-number") Количество<br>подарков 
                        input(type="text", id="gift-number", name="gift-number")
                                  

                .right-form
                    div.form-group__text
                        label(for="gift-offer-period") Сроки акции
                        input(type="text", id="gift-offer-period", placeholder="dd-mm-yyyy", name="gift-offer-period")
                    div.form-group__text
                        label(for="gift-creation-date") Дата создания
                        input(type="text", id="gift-creation-date", placeholder="dd-mm-yyyy", name="gift-creation-date")
                    div.form-group__text
                        label(for="gift-collection-date") Дата сбора
                        input(type="text", id="gift-collection-date", placeholder="dd-mm-yyyy", name="gift-collection-date")
                    div.form-group__text
                        label(for="gift-recieving-date") Дата получения
                        input(type="text", id="gift-recieving-date", placeholder="dd-mm-yyyy", name="gift-recieving-date")
                    div.form-group__select
                        label(for="gift-status") Статус                  
                        select(id="gift-status")                                            
                            option(value="" disabled selected)
                            option(value="available") Available
                            option(value="not-available") Not available
                    div.form-group__select
                        label(for="gift-activity") Активность                  
                        select(id="gift-activity")                                            
                            option(value="" disabled selected)
                            option(value="active") Активный
                            option(value="not-active") Неактивный
                a.form-button.button__delete
                    span Отмена 
                a.form-button.button__accept
                    span Сохранить изменения

    #modal-supergift-admin.modal
        .modal-supergift-admin-container
            .supergift-image
                img(src="assets/images/supergift-img.svg")
                a Добавить изображение
            form.gift-form.modal-form
                .left-form
                    div.form-group__text
                        label(for="supergift-name") Название
                        input(type="text", id="supergift-name", name="supergift-name")
                    div.form-group__text
                        label(for="supergift-organization-name") Имя организации
                        input(type="text", id="supergift-organization-name", name="supergift-organization-name")
                    div.form-group__text
                        label(for="supergift-number") Количество
                        input(type="text", id="supergift-number", name="supergift-number")
                    div.form-group__text
                        label(for="supergift-city") Город
                        input(type="text", id="supergift-city", name="supergift-city")
                    div.form-group__text
                        label(for="supergift-adress") Адрес
                        input(type="text", id="supergift-adress", name="supergift-adress")                  
                                  

                .right-form
                    div.form-group__text
                        label(for="supergift-price") Цена
                        input(type="text", id="supergift-price", name="supergift-price")
                    div.form-group__text
                        label(for="supergift-creation-date") Дата создания
                        input(type="text", id="supergift-creation-date", placeholder="dd-mm-yyyy", name="supergift-creation-date")
                    div.form-group__text
                        label(for="supergift-ending-date") Дата окончания
                        input(type="text", id="supergift-ending-date", placeholder="dd-mm-yyyy", name="supergift-ending-date")
                    div.form-group__radio                        
                        input(type="radio", id="supergift-available", name="supergift-isavailable")
                        label(for="supergift-available") Доступен                                            
                        input(type="radio", id="supergift-not-available", name="supergift-isavailable")
                        label(for="supergift-not-available") Не доступен
                   
                a.form-button.button__delete
                    span Отмена 
                a.form-button.button__accept
                    span Сохранить изменения 

    #modal-phone
        .modal-phone-container
            .modal-phone-info
                p ID
                p Username / Полное название компании
                p ФИО / Фактическое название компании
                p Телефон
                p E-mail
                p Временной интервал для созвона (10:00-18:00)
                br
                p Тема сообщения
            
            .modal-phone-links
                a.requests-content__link.blue обращение от 01.01.2019
                br
                a.requests-content__link.blue обращение от 05.10.2018
                br
                a.requests-content__link.blue обращение от 10.12.2018
                a.requests-content__extend-link
                    img(src="assets/images/extend.svg")
            .modal-phone-comment
                textarea.modal-phone-comment__textarea(placeholder="Комментарий оператора")
            .modal-phone-buttons
                a.modal-phone-buttons__delay
                    span Заявка отложена
                a.modal-phone-buttons__solve
                    span Проблема устранена

    #modal-text
        .modal-phone-container
            .modal-phone-info
                p ID
                p Username / Полное название компании
                p ФИО / Фактическое название компании
                p Тема сообщения
                p Телефон
                p E-mail  

            .modal-phone-comment
                textarea.modal-phone-comment__textarea.modal-phone-comment-new(placeholder="Тело сообщения")

            .modal-phone-images
                img(src="assets/images/img-placeholder.png")
                img(src="assets/images/img-placeholder.png")
                img(src="assets/images/img-placeholder.png")
                img(src="assets/images/img-placeholder.png")
                img(src="assets/images/img-placeholder.png")

            .modal-phone-links.modal-phone-links-new
                a.requests-content__link.blue обращение от 01.01.2019
                br
                a.requests-content__link.blue обращение от 05.10.2018
                br
                a.requests-content__link.blue обращение от 10.12.2018
                a.requests-content__extend-link
                    img(src="assets/images/extend.svg")
            .modal-phone-comment
                textarea.modal-phone-comment__textarea(placeholder="Ответ оператора на сообщение")
            .modal-phone-buttons.modal-phone-buttons-new
                a.modal-phone-buttons__delay
                    span Заявка отложена
                a.modal-phone-buttons__solve
                    span Проблема устранена