extends ../template

block variables
    - var title = 'Модерация подарков'
    - var link_id = 2

block content
    .main-container
        .search-form
            form(action="")
                input(type="search", placeholder="Поиск")       
        table.requests(cellspacing=0)
            thead.requests-header
                tr                     
                    td id
                    td дата / время
                    td наименование
                    td статус
            tbody.requests-content
                tr                   
                    td 01123
                    td 16.01.2019 / 11:30
                    td.requests-content__link(data-fancybox data-src="#modal-gift" data-options='{ "touch": false }') Подарок 1                    
                    td подтвержден / не подтвержден
                tr                    
                    td 01124
                    td 15.01.2019 / 10:25
                    td.requests-content__link(data-fancybox data-src="#modal-gift" data-options='{ "touch": false }') Подарок 2                    
                    td подтвержден / не подтвержден


    #modal-gift
        .modal-gift-container
            .modal-gift-info
                .modal-gift-image
                    img(src="assets/images/gift-image.svg")
                p Название подарка
                p Описание подарка             
            
            .modal-gift-checkboxes
                input(type="checkbox" id="problem1" name="problem1")
                label(for="problem1") Несоответствие иконки товара
                br                  
                input(type="checkbox" id="problem2" name="problem2")
                label(for="problem2") Несоответствие названия товару
                br                   
                input(type="checkbox" id="problem3" name="problem3")
                label(for="problem3") Несоответствие подписи товару
                    
                            
            .modal-gift-buttons
                a.modal-gift-buttons__delay
                    span Нет
                a.modal-gift-buttons__solve
                    span Да