.control-buttons {    
    margin-right: 29px;
    display: flex;
    flex-direction: row;    
}
.control-buttons > a {
    margin-right: 38px;
}
.right-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.left-tabs-headers {
    display: flex;
    flex-direction: row;    
}
.left-tabs__link-header.active, .left-tabs__link-header1.active {
    color: black;
}
.left-tabs__link-header, .left-tabs__link-header1 {
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 37px;
    color: #BDBDBD;
    cursor: pointer;
}
.link-header-container, .link-container, .link-subcontainer {
    display: none;
}
.link-header-container.active, .link-container.active, .link-subcontainer.active {
    display: initial;
}
.left-tabs__link, .left-tabs__sublink {
    line-height: 23px;
    font-size: 14px;
}
.left-tabs {
    margin-top: 15px;
}
.left-tabs__link, .left-tabs__sublink {    
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #E0E0E0;
    color: #BDBDBD; 
    cursor: pointer;  
}
.left-tabs__link.active, .left-tabs__sublink.active {   
    color: #000;   
}
.left-tabs__link:nth-child(1), .left-tabs__sublink:nth-child(1) {
    padding-left: 0;
}
.left-tabs__link:last-child, .left-tabs__sublink:last-child {
    padding-right: 0;
    border-right: none; 
}

.modal {
    display: none;
}
.modal-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 70px;
    justify-items: end;
}
.modal-form label {
    margin-right: 20px;
    font-size: 14px;
}
.form-group__text {
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 200px;
    align-items: center;
    margin-bottom: 35px;
}
.form-group__text input, .form-group__text textarea {
    height: 28px;
    border: 1px solid #4A5B6D;
    border-radius: 3px;
    background-color: transparent;
}
.form-group__text.textarea textarea {
    height: 91px;    
}
.modal {
    background-color: #D3D3D3;
}
.form-button {
    margin-top: 30px;
    width: 241px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center; 
    justify-self: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;
        
}
.button__delete {
    background-color: transparent;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    border: 1px solid #000;    
}
.button__accept {
    background-color: #6FCF97;
    color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}

// #modal-account {
//     padding: 100px 240px;
// }
// #modal-business-acc {
//     padding: 100px 190px;
// }
