@import "common/header.scss";
@import "pages/journal.scss";
@import "pages/gift-moderation.scss";
@import "pages/acc-moderation.scss";
@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Regular.ttf);
}
body {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 1rem;
}