.header {    
    max-width: 100%;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    padding: 15px 20px;

    background: #000;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.07);
}
.header-title {    
    width: 233px;
    height: 33px; 
    color: #fff;
    font-size: 1.25rem;
}
.header-menu {    
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
.header-menu__link {    
    text-transform: uppercase;
    text-decoration: none; 
    line-height: 1.9rem;      
    
    color: #fff;

    display: block;
    border-radius: .25rem;
    padding: .5rem 1rem;
    
}
.header-menu__link.active {
    color: #000;
    background-color: #fff;
}
.header-exit {
    width: 111px;
    height: 45px;
    background: transparent;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    border: 1px solid #007bff;
    margin-left: 20px;   
}
.header-exit:hover {    
    background: #007bff;
    .header-exit__btn span {    
        text-transform: uppercase;
        color: #fff;
    }
}
.header-exit__btn {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;     
}
.header-exit__btn span {    
    text-transform: uppercase;
    color: #007bff;
}
// .header-exit__img {
//     margin-right: 7px;
// }
