.header {    
    max-width: 100%;
    height: 163px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    
    padding: 0 9%;

    background: #A9FFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.07);
}
.header-title {    
    width: 233px;
    height: 33px;  
    margin-bottom: 22px;  

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 24px;

    color: #282828;
}
.header-menu {    
    width: auto;
    height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    margin-bottom: 21px; 
}
.header-menu__link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 15px;
    
    color: #BDBDBD;
}
.header-menu__link.active {
    color: #282828;
}
.header-exit {
    width: 111px;
    height: 45px;
    background: #56CCF2;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.07);
    border-radius: 5px;  
    margin-bottom: 14px; 
}
.header-exit__btn {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.header-exit__btn span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;    

    color: #FFFFFF;
}
.header-exit__img {
    margin-right: 7px;
}
